.photoStack {
    margin-top: 50px;
  }
  
  .stackContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    transition: width 0.5s ease, height 0.5s ease;
  }
  
  .photoCard {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    transition: transform 0.5s ease, opacity 0.5s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .photoCard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .expanded .photoCard {
    position: absolute;
    opacity: 1;
    animation: expand 0.5s ease forwards;
  }
  
  .stackContainer.expanded {
    width: 600px;
    height: 600px;
  }
  
  @keyframes expand {
    from {
      opacity: 0;
      transform: translate(-50%, -50%);
    }
    to {
      opacity: 1;
      transform: translate(-50%, -50%) rotate(calc(var(--i) * 1turn / 9)) translate(200px) rotate(calc(var(--i) * -1turn / 9));
    }
  }
  